# URL de connexion à la base de données (requise)
DATABASE_URL=""


# URL SUPABASE? (requise)
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""

# CLÉ SUPABASE? (requise)
SUPABASE_ANON_KEY=...

# PORT DU SERVEUR (optionel, 3000 par défaut)
PORT=3000